<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.name }}</title>
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/compact_layout.css">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PR0BDX6TTG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PR0BDX6TTG');
</script>
</head>
<body>

    <header>
        <div class="header-inner">
            <div class="title">
                <h1><nav><a href="/">{{ site.name }}</a></nav></h1>
            </div>
            <nav>
                <a href="/">Blog</a>
                <a href="/about">About</a>
            </nav>
        </div>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <div class="footer-inner">
        <div class="footer-left">
            &copy; <span id="currentYear"></span> {{ site.name }}
        </div>
        <div class="footer-right">
            <span>Design Inspired by ChatGPT</span>
        </div>
    </div>
    <script>
        document.getElementById('currentYear').textContent = new Date().getFullYear();
    </script>
    </footer>

</body>
</html>
